body {
    display: block;
}

body {
    background-color: #4f5d75;
}

h1 {
    color: #f5cb5c;
    font-size: 3.5rem;
    font-variant-caps: small-caps;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.moduleList {
    margin: 2rem 4rem;
    background-color: #bfc0c0;
    color: #000000;
    padding: 2.5rem;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
      color: #ffffff; 
    
        &:hover {
            color: #000000;
}
}






