body {
    display: block;
}

body {
    background-color: #4f5d75;
    padding: 1rem;
}

h1 {
    color: #f5cb5c;
    font-size: 3.5rem;
    font-variant-caps: small-caps;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h3 {
    color: #f5cb5c;
    font-size: 1.8rem;
}

p {
    color: #000000;
    font-size:1.2rem;
}
.moduleList {
    margin: 2rem 4rem;
    background-color: #bfc0c0;
    color: #000000;
    padding: 2.5rem;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 2rem;
}

a{
    color: #ffffff; 
}

a:hover {
    color: #000000;
}
a:visited {
    color: #4f5d75;

}


/*--Week1 Exercise--*/
textarea {
    width: 800px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 1rem;
}

#nameInput {
    background-color: rgb(238, 226, 192);
}

#storyButtons {
    padding: .5rem;
}

#storyDisplay p{
    font-size: 2rem;
    color: #000000;
    
}

/*--Week1 Notes--*/
#notes {
    width: 105rem;
    height: 30rem;
   
}
